@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import play.twirl.api.Html
@import org.webjars.play.WebJarsUtil
@import controllers.AssetsFinder

@(title: String, user: Option[models.User] = None)(content: Html)(implicit request: RequestHeader, messages: Messages, assets: AssetsFinder, webJarsUtil: WebJarsUtil)


<!DOCTYPE HTML>
<html lang="en">
    <head>
    	<!-- Bootstrap CSS -->
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    	
    	<!-- Stylesheet -->
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    	<link rel="stylesheet" media="screen" href="@assets.path("styles/style.css")">
    	
    	<!-- VUE -->
    	<script src="@assets.path("javascripts/vue.js")"></script>
    	
    	<!-- Javascript -->
    	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    	<script src="@assets.path("javascripts/tablut_game.js")"></script>
    	
    	
    	
    	<title>TablutTheGame</title>
        <table id="linker">
            <tr>
                <th><a href="/tablut">Zum Spiel</a></th>
                <th><a href="/help">Hilfe</a></th>
                <th><a href="/controls">Steuerung</a></th>
            </tr>
        </table>
        
    </head>
    <body>
        <div>@content</div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    </body>
</html>